.link {
  all: unset;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  color: var(--text-primary-soft);
  cursor: pointer;
}

.link > * {
  pointer-events: none;
}

.link:not(.selected):hover {
  color: var(--primary-text);
  background-color: var(--gray-x-light);
}

.link.selected:hover {
  color: var(--text-secondary);
}

.link.selected {
  background-color: var(--primary-color);
  color: var(--text-secondary-soft);
}

.iconWrapper {
  width: 1.5rem;
  height: 1.5rem;
}
