.h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--gray-x-dark);
  padding-right: 1.5rem;
  padding-bottom: 5px;
  border-bottom: solid 3px var(--primary-color);
  width: fit-content;
  margin-bottom: 3rem;
}

.statsSection {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.statsBox {
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: var(--gray-light-tr);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--gray);
}

.data {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gray-dark);
}

.sectionWrapper {
  display: flex;
  margin-top: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.topPercentSection {
  width: 100%;
  position: relative;
}

.chartWrapper {
  height: 25rem;
  width: var(--wrapper-width);
}

.displayBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2.5rem 3rem;
  background-color: var(--primary-color-x-light);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.p {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--gray);
  text-align: center;
  width: 70%;
}

.h3 {
  font-size: 4rem;
  color: var(--gray-dark);
  font-weight: 500;
}

@media (min-width: 480px) {
  .statsBox {
    padding: 1.5rem 1rem 1.5rem 1.5rem;
  }

  .statsSection {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 610px) {
  .topPercentSection {
    width: 17rem;
  }

  .chartWrapper {
    height: var(--box-height);
    width: calc(var(--wrapper-width) - 20rem);
  }

  .sectionWrapper {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .topPercentSection {
    width: 20rem;
  }

  .chartWrapper {
    width: calc(var(--wrapper-width) - 23rem);
  }
}

@media (min-width: 1200px) {
  .statsSection {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
