.calendarDay {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-md);
  margin-bottom: 2rem;
}

/* Header styles */
.header {
  height: 3rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--border-light);
  background-color: var(--slate-3x-light);
}

.dayText {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-primary);
}

.arrowContainer {
  width: 2rem;
  color: var(--gray);
}

/* Sec header styles */
.secHeader {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 0.5rem 2rem;
  border: solid 1px var(--border-light);
  border-top: none;
  border-bottom: solid 0.5px var(--border-light);
  background-color: var(--slate-3x-light);
}

.leftSection,
.rightSection {
  flex-shrink: 1;
}

.centerSection {
  flex: 1;
  display: flex;
  justify-content: center;
}

.secHeader p {
  font-weight: 600;
}

.missingData {
  color: var(--error);
}

.waitingData {
  color: hsl(from var(--primary-color) h s calc(l - 15));
}

.totalScore {
  color: var(--gray);
}

.submit {
  margin-left: auto;
}

/* Main styles */
.day {
  background-color: var(--slate-3x-light);
  border: solid 0.5px var(--border-light);
  border-top: none;
  flex: 1;
  box-sizing: border-box;
  padding: 3rem 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem 4rem;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.categoryWrapper {
  display: flex;
  flex-direction: column; /* Add flex display */
  justify-content: center; /* Center horizontally */
}

.category {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.categoryName {
  padding: 1rem 4rem 1rem 1.5rem;
  background-color: rgb(from var(--gray-light) r g b / 0.3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-dark);
  cursor: pointer;
  border-right: solid 5px var(--hex);
  flex: 1;
}

.categoryImportance {
  padding: 1rem 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--gray);
  background-color: rgb(from var(--gray-light) r g b / 0.3);
}

.categoryResult {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: fit-content;
  }
}

@media (min-width: 1300px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
