.label {
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.passwordFields {
  display: flex;
  gap: 5rem;
  width: 100%;
}

.passwordFields > * {
  flex: 1;
}

.passwordInput {
  width: 80%;
  max-width: 30rem;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
