.h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray-x-dark);
  margin-bottom: 1rem;
}

.progressWrapper {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.percentage {
  color: var(--primary-color);
}

.info p {
  font-size: 0.8rem;
  color: var(--gray);
  margin-bottom: 0.25rem;
}

.bold {
  font-weight: 500;
}
