.btn {
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  width: fit-content;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.sm {
  font-size: 0.8rem;
  padding: 0.8rem 1.5rem;
}

.base {
  padding: 0.8rem 1.6rem;
  font-size: 0.9rem;
}

.lg {
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

.xl {
  padding: 1.3rem 2rem;
  font-size: 1.5rem;
}

.wide {
  width: 100%;
  color: white;
  background-color: var(--btn-primary);
  border: none;
}

.default {
  color: white;
  background-color: hsl(222, 47%, 11%);
  border: none;
}

.primary {
  color: white;
  background-color: var(--btn-primary);
  border: none;
}

.wide:hover {
  background-color: var(--btn-primary-hover);
}

.default:hover {
  background-color: var(--slate-dark);
}

.primary:hover {
  background-color: var(--btn-primary-hover);
}

.secondary {
  background-color: var(--btn-secondary);
  color: white;
  border: none;
}

.secondary:hover {
  background-color: var(--btn-secondary-hover);
}

.opaque {
  background-color: hsla(214, 30%, 91%, 0.3);
  border: solid 1px hsla(215, 25%, 27%, 0.2);
  backdrop-filter: blur(4px);
  color: black;
}

.opaque:hover {
  background-color: hsla(214, 30%, 91%, 0.6);
}

.warning {
  background-color: var(--red-x-light);
  color: var(--red-dark);
  border: none;
}

.warning:hover {
  background-color: var(--red-light);
}

.strong-warning {
  background-color: var(--red-dark);
  color: white;
  border: none;
}

.strong-warning:hover {
  opacity: 0.85;
}
