.faqSection {
  margin: 4rem 1rem;
}

.header {
  margin: 0 2.5rem;
}

.highlight {
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.accordionWrapper {
  margin: 2rem auto;
  padding: 0 3rem;
  max-width: 50rem;
}
