.item {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  position: relative;
}

.leftBar {
  height: 3rem;
  min-width: 4px;
  border-radius: 2px;
  background-color: var(--hex);
}

.markerTitle {
  flex: 1;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-dark);
}

.markerP {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--gray);
}

.markerA {
  font-weight: 500;
  font-size: 0.7rem;
  color: var(--gray);
  cursor: pointer;
  text-decoration: underline;
}
