.container {
  color: var(--gray-x-light);
}

.p {
  max-width: 30rem;
  text-align: center;
  margin: 0 1.5rem;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.category {
  padding: 1rem 4rem 1rem 1.5rem;
  background-color: rgb(from var(--gray-light) r g b / 0.3);
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--gray-2x-light);
  cursor: pointer;
  border-right: solid 5px var(--category-color);
  flex: 1;
}

.categoryContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.colorBox {
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;
}

.modalWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: rgb(from var(--gray-2x-dark) r g b / 0.1);
  z-index: 10;
}

.colorPickerModal {
  padding: 2rem;
  background-color: rgb(from var(--gray-x-dark) r g b / 0.9);
  border-radius: 8px;
  width: fit-content;
}

@media (min-width: 786px) {
  .grid {
    margin-top: 4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 4rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 5rem;
  }
}
