.container {
  color: var(--gray-x-light);
}

.p {
  max-width: 30rem;
  text-align: center;
  margin: 0 1.5rem;
  font-size: 1.3rem;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  width: 100%;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.category {
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  background-color: var(--gray-light-tr);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--gray-2x-light);
  cursor: pointer;
  border-right: solid 5px var(--category-color);
  flex: 1;
}

.categoryContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75rem;
}

.formWrapper {
  width: 100%;
}

.colorBox {
  height: 4.15rem;
  width: 4.15rem;
  border-radius: 8px;
  cursor: pointer;
}

.modalWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: rgba(3, 7, 17, 0.1); /* --gray-2x-dark */
  z-index: 10;
}

.colorPickerModal {
  padding: 2rem;
  background-color: rgba(17, 24, 39, 0.9); /* --gray-x-dark */
  border-radius: 8px;
  width: fit-content;
}

@media (min-width: 480px) {
  .p {
    font-size: 1rem;
  }

  .grid {
    width: auto;
    padding: 0;
  }

  .category {
    padding: 1rem 4rem 1rem 1.5rem;

    font-size: 0.9rem;
  }

  .colorBox {
    height: 3rem;
    width: 3rem;
  }
}

@media (min-width: 786px) {
  .grid {
    margin-top: 4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 4rem;
  }

  .categoryContainer {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 5rem;
  }
}
