.sidebarWrapper {
  position: fixed;
  display: flex;
  inset: 0;
  height: 100vh;
  pointer-events: none;
  z-index: 60;
}

.navbarWrapper {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 4rem;
  z-index: 50;
}

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--gray-x-light);
  box-sizing: border-box;
  padding-top: 4rem;
}

.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.padding {
  padding: 1rem;
}

.cover {
  display: none;
}

@media (min-width: 1024px) {
  .navbarWrapper {
    display: none;
  }

  .sidebarWrapper {
    inset: 0;
  }

  .main {
    padding-left: 17rem;
    padding-top: 0;
  }
}

@media (min-width: 480px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (min-width: 610px) {
  .padding {
    padding: 2rem;
  }
}

@media (max-width: 1023px) {
  .sidebarWrapper {
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .sidebarWrapper.open {
    background-color: rgba(15, 23, 41, 0.25); /* fallback for older browsers */
    background-color: rgb(from var(--slate-x-dark) r g b / 0.25);
  }

  .sidebarWrapper.closed {
    background-color: transparent;
  }

  .cover {
    display: block;
    pointer-events: auto;
    left: 17rem;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
