:root {
  --primary-color: #34d399;
  --primary-color-light: #6ee7b7;
  --primary-color-x-light: #a7f3d0;
  --primary-color-2x-light: #d1fae5;
  --primary-color-3x-light: #ecfdf5;
  --primary-color-mid: #10b981;
  --primary-color-dark: #059669;
  --primary-color-x-dark: #047857;
  --primary-color-2x-dark: #065f46;
  --primary-color-3x-dark: #064e3b;
  --primary-color-4x-dark: #022c22;
  --primary-color-light-tr: rgba(110, 231, 183, 0.5);

  --secondary-color: #60a5fa;

  --slate: #65758b;
  --slate-3x-light: #f8fafc;
  --slate-2x-light: #f1f5f9;
  --slate-x-light: #e2e8f0;
  --slate-light: #e1e7ef;
  --slate-dark: #344256;
  --slate-x-dark: #0f1729;
  --slate-overlay: rgba(15, 23, 41, 0.7);

  --gray-2x-light: #fafafa;
  --gray-x-light: #f3f4f6;
  --gray-m-light: #e5e7eb;
  --gray-light: #d1d5db;
  --gray-mid: #9ca3af;
  --gray: #6b7280;
  --gray-dark: #384252;
  --gray-x-dark: #111827;
  --gray-2x-dark: #030711;
  --gray-light-tr: rgba(209, 213, 219, 0.3);
  --gray-x-light-tr: rgba(229, 231, 235, 0.3);

  --primary-text: black;
  --secondary-text: #344256;

  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  --border-light: rgba(107, 114, 128, 0.3);
  --border: rgba(56, 66, 82, 0.4);
  --border-dark: rgba(56, 66, 82, 0.6);

  --btn-primary: #10b981; /* emerald-500 */
  --btn-primary-hover: #059669;
  --btn-primary-dark: #047857;
  --btn-secondary: #0ea5e9; /* sky-500 */
  --btn-secondary-hover: #0284c7;

  --text-primary: #1f2937;
  --text-primary-soft: #6b7280;
  --text-secondary: white;
  --text-secondary-soft: #f3f4f6;

  --form-primary: #ffffff;
  --form-secondary: #d1d5db;
  --form-third: #e1e7ef;
  --form-text: #111827;
  --form-text-secondary: #6b7280;

  --error-soft: #fcd34d;
  --error: #f87171;
  --error-x-light: #fef2f2;

  --success: #86efac;

  --blue: #60a5fa;
  --blue-2x-light: #dbeafe;
  --blue-mid: #3b82f6;
  --blue-dark: #2563eb;
  --blue-light-tr: rgba(147, 197, 253, 0.5);

  --purple: #c084fc;
  --purple-2x-light: #f3e8ff;
  --purple-dark: #9333ea;
  --purple-light: #d8b4fe;
  --purple-light-tr: rgba(216, 180, 254, 0.5);

  --red-3x-light: #fef2f2;
  --red-2x-light: #fee2e2;
  --red-x-light: #fecaca;
  --red-light: #fca5a5;
  --red: #f87171;
  --red-mid: #ef4444;
  --red-dark: #dc2626;
  --red-x-dark: #b91c1c;
  --red-2x-dark: #991b1b;
  --red-3x-dark: #7f1d1d;
  --red-4x-dark: #450a0a;

  --cyan: #22d3ee;
  --orange: #fb923c;
  --orange-light: #fdba74;
  --orange-light-tr: rgba(253, 186, 116, 0.5);

  --amber: #fbbf24;
  --amber-2x-light: #fef3c7;
  --amber-dark: #d97706;

  --lime: #a3e635;

  --sky: #38bdf8;

  --teal: #2dd4bf;

  --green-3x-light: #f0fdf4;
  --green-2x-light: #dcfce7;
  --green-x-light: #bbf7d0;
  --green-light: #86efac;
  --green: #4ade80;
  --green-mid: #22c55e;
  --green-dark: #16a34a;
  --green-x-dark: #15803d;
  --green-2x-dark: #166534;
  --green-3x-dark: #14532d;
  --green-4x-dark: #052e16;

  --pink: #f472b6;

  --yellow-3x-light: #fefce8;
  --yellow-2x-light: #fef9c3;
  --yellow-x-light: #fef08a;
  --yellow-light: #fde047;
  --yellow: #facc15;
  --yellow-mid: #eab308;
  --yellow-dark: #ca8a04;
  --yellow-x-dark: #a16207;
  --yellow-2x-dark: #854d0e;
  --yellow-3x-dark: #713f12;
  --yellow-4x-dark: #422006;

  --sidebar-width: 17rem;
}
