.h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray-x-dark);
  margin-bottom: 1.5rem;
}

.infoBox {
  padding: 1rem 1rem;
  background-color: var(--gray-light-tr);
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-dark);
  border-right: solid 5px var(--hex);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.bar {
  position: relative;
  width: 100%;
  height: 0.75rem;
  border-radius: 8px;
  background-color: var(--hex-light);
}

.barInner {
  position: absolute;
  height: 100%;
  border-radius: 8px;
  background-color: var(--hex);
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 1rem;
  overflow-y: scroll;
  max-height: 17rem;
}

@media (min-width: 880px) {
  .categoryList {
    display: block;
    max-height: 25rem;
  }
}

@media (min-width: 1024px) {
  .categoryList {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 1rem;
    max-height: 18rem;
  }
}

@media (min-width: 1200px) {
  .categoryList {
    display: block;
    max-height: 25rem;
  }
}
