.itemWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  width: max-content;
  height: 1rem;
  cursor: pointer;
}

.itemWrapper:hover .icon {
  opacity: 0.8;
}

.itemWrapper:hover .title {
  color: var(--gray-dark);
}

.itemWrapper.hidden {
  opacity: 0.3;
}

.icon {
  height: 100%;
  aspect-ratio: 1 / 1;
}

.title {
  font-size: 0.6rem;
  color: var(--gray);
}
