.label {
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.dateWrapper {
  display: flex;
  flex-direction: column;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

@media (max-width: 479px) {
  .label {
    font-size: 1rem;
  }
}
