.container {
  color: var(--gray-x-light);
}

.p {
  margin: 0 1.5rem;
  text-align: center;
}

.grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem 1.5rem;
}

.category {
  padding: 1rem 4rem 1rem 1.5rem;
  background-color: rgb(from var(--gray-light) r g b / 0.3);
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--gray-2x-light);
  cursor: pointer;
  border-right: solid 5px var(--category-color);
}

.selected {
  background-color: rgb(from var(--primary-color-light) r g b / 0.6);
  outline: solid 2px var(--primary-color);
  border: none;
}

/* Add Category Styles */

.addCategory {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.colorBox {
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;
}

.modalWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: rgb(from var(--gray-2x-dark) r g b / 0.1);
}

.colorPickerModal {
  padding: 2rem;
  background-color: rgb(from var(--gray-x-dark) r g b / 0.9);
  border-radius: 8px;
  width: fit-content;
}

@media (min-width: 480px) {
  .addCategory {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (min-width: 786px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
