.sectionsContainer > * + * {
  border-top: solid 2px var(--primary-color);
}

.section {
  padding: 5rem 0;
}

.h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--gray-x-dark);
  padding-right: 1.5rem;
  padding-bottom: 5px;
  border-bottom: solid 3px var(--primary-color);
  width: fit-content;
  margin-bottom: 3rem;
}
