.secondary {
  color: var(--gray);
}

.bold {
  color: var(--text-primary-soft);
  font-weight: 600;
}

.center {
  text-align: center;
}

.primary {
  font-size: 1.4rem;
}

.secondary {
  font-size: 1.3rem;
}

@media (min-width: 480px) {
  .p {
    font-size: 1rem;
  }

  .secondary {
    font-size: 0.9rem;
  }
}
