.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

.modal {
  width: 100%;
  background-color: rgb(from var(--gray-2x-dark) r g b / 0.75);
  backdrop-filter: blur(4px);
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.content {
  flex: 1;
  display: grid;
  place-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 2rem;
}

.btnContainer {
  display: flex;
  gap: 1rem;
}

.progressNumber {
  color: var(--gray-2x-light);
  font-weight: 700;
  font-size: 1.3rem;
}

.progressNumber > span {
  opacity: 0.4;
}

@media (min-width: 786px) {
  .main {
    padding: 3rem 5rem;
  }
}

@media (min-width: 480px) {
  .main {
    padding: 2rem 3rem;
  }
}

/* Background styles */
.background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}

.designCardMain {
  background-color: var(--primary-color-x-dark);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.designCardTop {
  background-color: var(--primary-color-2x-dark);
  height: 40%;
  border-radius: 3rem;
  position: absolute;
  top: -25%;
  transform: rotate(-8deg);
  width: 100%;
}

.designCardBottom {
  background-color: var(--primary-color-dark);
  height: 50%;
  border-radius: 3rem;
  position: absolute;
  right: -100px;
  bottom: -30%;
  transform: rotate(20deg);
  width: 100%;
}

.designCardBottomInner {
  background-color: var(--primary-color-2x-dark);
  height: 80%;
  border-radius: 3rem;
  position: absolute;
  right: -50px;
  bottom: 20px;
  transform: rotate(-7deg);
  width: 80%;
  opacity: 0.4;
}

.designCardMainInner1 {
  background-color: var(--primary-color-dark);
  height: 50%;
  border-radius: 3rem;
  position: absolute;
  right: 50px;
  bottom: 20px;
  transform: rotate(-17deg);
  width: 45%;
  opacity: 0.4;
}

.designCardMainInner2 {
  background-color: var(--primary-color-mid);
  height: 30%;
  border-radius: 3rem;
  position: absolute;
  right: 50px;
  top: 0;
  transform: rotate(-5deg) skewX(5deg);
  width: 70%;
  opacity: 0.4;
}
