.input {
  outline: none;
  padding: 0.5rem;
  border-radius: 6px;
  border: solid 1px var(--border-light);
  font-size: 0.9rem;
  color: var(--gray-dark);
  background-color: var(--gray-2x-light);
  width: fit-content;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
}

@media (max-width: 479px) {
  .input {
    font-size: 1.35rem;
    padding: 1.5rem 1rem;
  }
}
