.h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gray-x-dark);
  padding-right: 1.5rem;
  padding-bottom: 5px;
  border-bottom: solid 3px var(--primary-color);
  width: fit-content;
  margin-bottom: 3rem;
}

.optionsContainer {
  padding: 0 2rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.option {
  position: relative;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;

  font-size: 2.8rem;
  text-decoration: none;
  text-align: center;
  color: var(--gray-dark);
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.option:hover {
  transform: scale(1.1);
}

.day {
  background-color: var(--primary-color-light);
}

.week {
  background-color: var(--primary-color-light);
}

.month {
  background-color: var(--primary-color-light);
}

.comingSoon {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--slate-overlay);
  backdrop-filter: blur(2px);
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 480px) {
  .h1 {
    font-size: 1.7rem;
  }
}

@media (min-width: 610px) {
  .optionsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0;
  }

  .option {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  .option {
    font-size: 2.5rem;
  }
}
