.contentWrapper {
  display: flex;
  gap: 8rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--gray-x-dark);
  padding-right: 1.5rem;
  padding-bottom: 5px;
  border-bottom: solid 3px var(--hex);
  width: fit-content;
  margin-bottom: 2rem;
}

.infoBox {
  padding: 1rem 1.5rem;
  background-color: var(--gray-light-tr);
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-dark);
  border-right: solid 5px var(--hex);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 15rem;
}

.bar {
  position: relative;
  width: 100%;
  height: 0.75rem;
  border-radius: 8px;
}

.barInner {
  position: absolute;
  height: 100%;
  border-radius: 8px;
}

.colorsContainer {
  display: flex;
  justify-content: stretch;
  gap: 0.25rem;
}

.color {
  height: 1rem;
  flex: 1;
  width: auto;
  border-radius: 8px;
}

.rightContainer {
  flex: 1;
}

.description {
  padding: 1rem 1.5rem;
  background-color: var(--gray-x-light-tr);
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-dark);
  border-right: solid 5px var(--hex);
  max-width: 30rem;
  height: 15rem;
  flex: 1;
  box-sizing: border-box;
  cursor: text;
  white-space: pre-wrap;
  overflow: scroll;
}

.empty {
  display: flex;
  align-items: center;
}

.descriptionP {
  font-weight: 400;
  margin-top: 0.75rem;
}

.modal {
  padding: 2rem;
  background-color: var(--gray-x-light);
  border-radius: 8px;
  border-right: solid 5px var(--hex);
  min-width: 25rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textArea {
  flex: 1;
}

.submit {
  background-color: var(--hex);
  color: var(--gray-x-dark);
}

.submit:hover {
  background-color: var(--hex-dark);
}

@media (max-width: 767px) {
  .contentWrapper {
    gap: 4rem;
  }
}

@media (max-width: 610px) {
  .contentWrapper {
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .contentWrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .infoBox {
    justify-content: center;
    gap: 1rem;
  }

  .infoContainer {
    width: 100%;
  }

  .description {
    max-width: 100%;
  }
}
